@define-color foreground #26bdfd;
@define-color background transparent;
@define-color ternary #ff1100;
/* hex for black/background is #090300 */
/* hex for old foreground #ff1100 */

@keyframes terminal-glow {
  from {
    text-shadow:
      0 0 1px #b5e4f4,
      0 0 2px #b5e4f4;
  }
  to {
    text-shadow:
      0 0 3px #b5e4f4,
      0 0 4px #b5e4f4;
  }
}

@keyframes glitch {
  from {
    opacity: 1;
    text-shadow: 0 0 4px #090300;
    color: #090300;
  }
  to {
    opacity: 0.85;
    text-shadow:
      -0.75px 0 #090300,
      0.75px 0 #26bdfd;
    color: #090300;
  }
}

#memory,
#clock,
#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-update,
#custom-omarchy,
#custom-expand-icon,
#custom-voxtype {
  text-shadow:
    0 0 4px #b5e4f4,
    0 0 8px #b5e4f4;
  animation: terminal-glow 5s ease-in-out infinite alternate;
}

#workspaces button.active {
  text-shadow:
    -1px 0 #b5e4f4,
    1px 0 #26bdfd,
    0 0 4px #b5e4f4;
  animation: glitch 0.3s ease-in-out infinite alternate;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: rgba(9, 3, 0, 0.5);
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid #ff3c3c;
}

tooltip {
  color: #b5e4f4;
  background-color: rgba(9, 3, 0, 0.5);
  border: 1px solid #ff3c3c;
  border-radius: 6px;
  animation: terminal-glow 7.5s ease-in-out infinite alternate;
}
