:root {
--color00: #090300;
--color01: #090300;
--color02: #1a1412;
--color03: #5c5855;
--color04: #a5a2a2;
--color05: #ff3c3c;
--color06: #f7f7f7;
--color07: #f7f7f7;
--color08: #ff1100;
--color09: #01a252;
--color0A: #fded02;
--color0B: #26bdfd;
--color0C: #b5e4f4;
--color0D: #a16a94;
--color0E: #e8bbd0;
--color0F: #cdab53;
}
